$("#new_message").replaceWith("#{j(render partial:'contact_mailer/contact_me', locals: {object: @message, notice: @notice} )}")
- if !@message.errors.any? 
  $(':input').not(':button, :submit, :hidden').val('') 
