- if request.subdomain == 'admin'
  - case utility
    - when "add"
      %a{ href: '#add' }
        %button.add Add Projects

    - when "addModal"
      .modal#add
        .modal-dialog
          %a.close{ href: ''}
          %h2 Add Projects

          = render 'add_project'