- provide :title, "About"
%section#about.pages
  %aside
    = image_tag 'http://lorempixel.com/640/960', :alt => "New Zeland Photo", :class => ''

  %article
    .inner-wrapper
      %p I am a young developer/designer that is excited about learning more in the area of web development, software engineering and web design. Currently, I have been working on developing a few websites freelance and creating my own website. Some of the languages I can use are:
      %br

      %ul
        %li HTML/CSS (SASS & HAML Preprocessor)

        %li Ruby

        %li JavaScript/JQuery

        %li Java

        %li C#

      %br
      %p I’m also interested in philosophy, agriculture, veganism and I love animals.
      %p I live in one of the most beautiful cities in Canada and have also been lucky enough to visit some really unique places  in my life including Indonesia, France and the Caribbean.  I’m also looking forward to doing more traveling (especially to New Zealand so I can see some hobbit houses).
      %p So far I'm loving the tech industry and find it both fun and interesting. I can't wait to jump further into it and learn more.
