- provide :title, "About"
%section#about.body-section.static-body
  %aside
    = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/newzeland.gif', :alt => "New Zeland Photo", :class => ''

  %article

    %p I am a young computer programmer that is excited about learning more in the area of web development and software engineering. Currently, I have been working on developing a website for a local business and learning Golang. Some of the languages I can use are:
    %br

    %ul
      %li
        C#
      %li
        Ruby
      %li
        Golang
      %li
        Java (somewhat)

    %br
    %p I’m also interested in philosophy, agriculture, veganism and I love animals.
    %p I live in one of the most beautiful cities in Canada and have also been lucky enough to visit some really unique places  in my life-Indonesia, France and the Caribbean.  I’m also looking forward to doing more traveling (especially to New Zealand).
    %p I’m just starting to discover the tech industry and so far find it both fun and interesting. And I’m really excited to see where it will take me!
