- provide(:title, '')
%section#home.pages
  %h2
    Web Designer/Developer
    %br Freelancer

  .info-box
    %ul.tab-selection
      %li.active.current-projects
        %a{ :href => '#current-projects', 'data-toggle' => 'tab' }
          Current
          %br Projects
      %li.secret
        %a{ :href => '#secret', 'data-toggle' => 'tab' }
          The
          %br
          Secret Shop
      %li.favorite
        %a{ :href => '#favorite', 'data-toggle' => 'tab' }
          Favorite
          %br Links

    .tab-content
      #current-projects.tab-pane.active
        %h3 Current Projects

        .tab-text
          %p Currently my biggest project is this website, which I developed without a CSS Framework so it's been a learning curve. But I'm loving it and it's a tun of fun.
          %p I'm also working on a website for a local business run by my mother, and a e-commerce website for a friend.

      #secret.tab-pane
        %h3 The Secret Store

        .tab-text
          %p SHHHHHHHHHHH... It's a secret!!

      #favorite.tab-pane
        %h3 Favorite Links

        .tab-text
          %p I'm very much looking forward to using BFF (#{link_to 'Bootstrap Foundation Five', 'http://bootstrapfoundationfive.github.io'}) in my next project!
          %p I will add a Tun more in here after
