- provide(:title, '')
%section#home.pages
  %h2
    Web Designer/Developer
    %br Freelancer

  .info-box
    %ul.tab-selection
      %li.active.current-projects
        %a{ :href => '#current-projects', 'data-toggle' => 'tab' }
          Current
          %br Projects
      %li.secret
        %a{ :href => '#secret', 'data-toggle' => 'tab' }
          The
          %br
          Secret Shop
      %li.favorite
        %a{ :href => '#favorite', 'data-toggle' => 'tab' }
          Favorite
          %br Links

    .tab-content
      #current-projects.tab-pane.active
        %h3 Current Projects

        .tab-text
          %p
            Currently my biggest project is this website, which I developed without a CSS Framework so it's been a learning curve. But I'm loving it and it's a ton of fun.
            %br
            %br
            I'm also attending Lighthouse Labs as part of the June Cohort which I'm greatly looking forward to!

      #secret.tab-pane
        %h3 The Secret Store

        .tab-text
          %p This area is undecided, after my lighthouse labs prep course I may open a freelancing section here.

      #favorite.tab-pane
        %h3 Favorite Links

        .tab-text
          %p
            These are some links around the web that I've found to be helpful!
          %ul
            %li
              I really love #{link_to  'CSS Tricks', 'http://css-tricks.com/'}, it has great snippets and tips I use.
            %li
              I learned a great deal from #{link_to 'Team Treehouse', 'http://teamtreehouse.com/' }, they taught me so much about how to design the websites I do.
            %li
              This book is really great, #{link_to 'Pro Git', 'http://git-scm.com/book'}.
              I plan to look through this more but so far it's been very helpful and has a lot of information.
