- provide(:title, '')
%section#home.pages
  %h2
    Web Designer/Developer
    %br Freelancer

  .info-box
    %ul.tab-selection
      %li.active.current-projects
        %a{ :href => '#current-projects', 'data-toggle' => 'tab' }
          Current
          %br Projects
      %li.secret
        %a{ :href => '#secret', 'data-toggle' => 'tab' }
          The
          %br
          Secret Shop
      %li.favorite
        %a{ :href => '#favorite', 'data-toggle' => 'tab' }
          Favorite
          %br Links

    .tab-content
      #current-projects.tab-pane.active
        %h3 Current Projects

        .tab-text
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis vehicula ante, quis feugiat turpis tincidunt hendrerit. In aliquam quam vel neque aliquet egestas. Suspendisse potenti. Donec vestibulum justo id velit tempus, in facilisis lectus rutrum. Etiam mollis felis sapien. Nunc id nisi ullamcorper, pulvinar mi non, vehicula nulla. Aenean posuere semper libero et semper.

      #secret.tab-pane
        %h3 The Secret Store

        .tab-text
          %p In aliquam quam vel neque aliquet egestas. Suspendisse potenti. Donec vestibulum justo id velit tempus, in facilisis lectus rutrum. Etiam mollis felis sapien. Nunc id nisi ullamcorper, pulvinar mi non, vehicula nulla. Aenean posuere semper libero et semper.

      #favorite.tab-pane
        %h3 Favorite Links

        .tab-text
          %p Pellentesque sagittis vehicula ante, quis feugiat turpis tincidunt hendrerit. Etiam mollis felis sapien. Suspendisse potenti. Donec vestibulum justo id velit tempus, in facilisis lectus rutrum.  Nunc id nisi ullamcorper, pulvinar mi non, vehicula nulla. Aenean posuere semper libero et semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.