development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  encoding: utf8
  database: mika_test
  pool: 5

production:
  adapter: postgresql
  encoding: utf8
  database: DATABASE_URL
  pool: 5