/* Basic Footer Styles
========================= */
footer {
  width: 100%;
  font-size: .55em;
  color: #EEBE6B;
  height: 13px;

  a {
    color: #EEBE6B;
  }

  a:hover {
    color: #FFD58C;
  }

  ul {
    height: 100%;

    li {
      height: 100%;
      margin-bottom: 0;
      display: inline-block;
      position: relative;
      margin-top: -3px;

      img {
        position: absolute;
        bottom: -2px;
        right: -12%;
      }
    }

    li:first-child {
      margin-left: 1em;
      float: left;
    }

    nav {
      display: inline-block;
      margin-right: 1em;
      float: right;

      li {
        float: right;

        &:first-child {
          margin-left: 0;
          margin-right: 1em;
        }
      }
    }
  }


  /* Mobile Exlusive Styles
  ============================ */
  @media screen and (max-width: 767px) {
    img {
      opacity: 0;
    }
  }

  @media screen and (max-width: 328px) {
    ul nav li:first-child {
      margin-right: 0em;
    }
  }

  @media screen and (min-width: 348px) {
    li {
      font-size: 1em;
    }
    ul nav li:first-child {
      margin-right: 2em;
    }
  }
  /* Small Mobile to Smartphone
  ================================ */
  @media screen and (min-width: 530px){
    img {
      opacity: 1;
    }
    li {
      font-size: 1.5em;
    }
    ul nav li:first-child {
      margin-right: 2.5em;
    }
  }

  /* Ipad to Desktop Styles
  ============================ */
  @media screen and (min-width: 768px) {
    ul nav li:first-child {
      margin-right: 3em;
    }
  }

  /* Desktop to LG Styles
  ========================== */
  @media screen and (min-width: 992px) {

  }

  /* LG > Styles
  ================= */
  @media screen and (min-width: 1200px) {

  }
}