/* Basic Header Styles
  ======================= */
header {
  background-image: url('https://s3-us-west-2.amazonaws.com/mikaimages/noise.png'),
              -webkit-linear-gradient(to top, rgba(121, 85, 48, 1) 0%,
                                              rgba(123, 87, 50, 1) 11.78%,
                                              rgba(128, 94, 59, 1) 33.26%,
                                              rgba(137, 105, 73, 1) 67.32%,
                                              rgba(150, 122, 93, 1) 100%);
  background-image: url('https://s3-us-west-2.amazonaws.com/mikaimages/noise.png'),
              linear-gradient(to top, rgba(121, 85, 48, 1) 0%,
                                      rgba(123, 87, 50, 1) 11.78%,
                                      rgba(128, 94, 59, 1) 33.26%,
                                      rgba(137, 105, 73, 1) 67.32%,
                                      rgba(150, 122, 93, 1) 100%);

  .header-logo {
    ul {
      margin: 0 auto;
      display: table;

      li:first-child {
        margin: 0 .5em 0 -.5em;

        a:hover img{
          -webkit-filter: brightness(70%);
        }

        #main-logo {
          height: 76px;

          @media screen and (min-width: 375px) {
            height: 101px;
          }
        }
      }

      li:nth-child(2) {
        display: table-cell;
        vertical-align: middle;

        h1 {
          padding-top: .2em;
          color: #EEBE6B;
          text-shadow: 0 -1px 0 black;
        }
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 1em;

      li {
        margin: 1em 0;

        a {
          font-family: 'Tienne', serif;
          font-size: 1.7em;
          color: #624E2C;
          text-shadow: 0 -1px 0 black;

          &:hover {
            color: #3D6F51;
          }

          &.current {
            color: #45884E;
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px) and (max-height: 600px) {
    img {
      width: 75%;
    }
    h1 {
      font-size: 2em;
    }
    li a {
      font-size: 1.3em !important;
    }
  }
  /* Mobile Exlusive Styles
  ============================ */
  @media screen and (max-width: 343px) {
    .header-logo {
      h1 {
        width: 143px;
      }
    }

    nav {
      li:not(:nth-of-type(2)) {
        margin-left: 1.2em;
      }

      li:nth-of-type(2) {
        margin-left: -.2em;
      }
    }
  }

  /* Mobile Only
  ================= */
  @media screen and (max-width: 767px) {
    nav {
      li:first-child {
          display: none;
      }
    }
  }

  /* Small Mobile to Smartphone
  ============================ */
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 2.5em;
    }
  }

  /* Ipad to Desktop Styles
  ============================ */
  @media screen and (min-width: 768px) {

  }

  /* Ipad to Desktop Styles
  ============================ */
  @media screen and (min-width: 921px) {
    display: flex;
    justify-content: space-between;

    .header-logo {
      ul {
        margin: 0;
        margin-left: 1em;
      }
    }

    nav {
      margin-top: 2.1em;
      ul li {
        margin: 0 1em;
      }
    }
  }

  /* Desktop to LG Styles
  ========================== */
  @media screen and (min-width: 1197px) {
    nav ul li {
      margin: 0 1.5em;
    }
  }

  /* 1450px Min
  ================= */
  @media screen and (min-width: 1450px) {
    nav ul li {
      margin: 0 2em;
    }
  }

  /* 1750px Min
  ================= */
  @media screen and (min-width: 1750px) {
    nav ul li {
      margin: 0 3em;
    }
  }
}