/* Golbal Static Pages Styling
================================= */
.pages {

  /* Home Styling
  ================== */
  &#home {
    background-repeat:no-repeat;
    background-size: cover;

    h2 {
      margin: 0;
      color: #EEBE6B;
      text-align: center;
      padding-top: 5em;
    }

    .tab-pane#favorite {
      .tab-text {
        p {
          display: block;
        }

        li {
          padding-top: .5em;
          display: block;
          a {
            color: #FBC459;
            font-size: .9em;
            &:hover {
              color: #FDE54D;
            }
          }
        }
      }
    }

    /* Landscape Photo
    ===================== */
    @media screen and (orientation: landscape) {
      background-image: url(https://s3-us-west-2.amazonaws.com/mikaimages/homebackground.jpg);
    }

    /* Portrait Photo
    ==================== */
    @media screen and (orientation: portrait) {
      background-image: url(https://s3-us-west-2.amazonaws.com/mikaimages/mobilebackground.jpg);
    }

    /* Mobile Exlusive Styles
    ============================ */
    @media screen and (max-width: 767px) {
      h2 {
        padding-top: 2em;
      }

      .tab-content {
        min-height: 15em;
        background : linear-gradient(180deg, rgba(121, 85, 48, 1) 0%,
                                             rgba(123, 87, 50, 1) 16.71%,
                                             rgba(128, 94, 59, 1) 29.32%,
                                             rgba(137, 105, 73, 1) 44.66%,
                                             rgba(150, 122, 93, 1) 67.42%,
                                             rgba(167, 143, 119, 1) 100%);
        background : -webkit-linear-gradient(-90deg, rgba(121, 85, 48, 1) 0%,
                                                     rgba(123, 87, 50, 1) 16.71%,
                                                     rgba(128, 94, 59, 1) 29.32%,
                                                     rgba(137, 105, 73, 1) 44.66%,
                                                     rgba(150, 122, 93, 1) 67.42%,
                                                     rgba(167, 143, 119, 1) 100%);
        opacity : 0.7;
        filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.Alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#795530',endColorstr='#A78F77' , GradientType=0);
        margin: 0 auto;
        margin-bottom: 1.577287066%;
        width: 95%;

        .tab-pane {
          color: black;
          opacity: 1;
          padding: 0 1em;
        }

        h3 {
          display: none;
        }

        p {
          max-width: 600px;
        }


        .tab-text  {
          display: table;
          width: 100%;
          height: 15em;

          p {
            display: table-cell;
            vertical-align: middle;
            margin: 0 auto;

            &:first-of-type {
              margin-top: 2.5em;
            }
          }
        }
      }

      .tab-selection {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 17%;

        li {
          margin: 0 .2em;
          width: 30%;
          font-size: .85em;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;

          &:not(.active) {
            background : -webkit-linear-gradient(-90deg, rgba(121, 85, 48, 1) 0%,
                                                         rgba(123, 87, 50, 1) 16.71%,
                                                         rgba(128, 94, 59, 1) 29.32%,
                                                         rgba(137, 105, 73, 1) 44.66%,
                                                         rgba(150, 122, 93, 1) 67.42%,
                                                         rgba(167, 143, 119, 1) 100%);

            background : linear-gradient(180deg, rgba(121, 85, 48, 1) 0%,
                                                 rgba(123, 87, 50, 1) 16.71%,
                                                 rgba(128, 94, 59, 1) 29.32%,
                                                 rgba(137, 105, 73, 1) 44.66%,
                                                 rgba(150, 122, 93, 1) 67.42%,
                                                 rgba(167, 143, 119, 1) 100%);
            opacity : 0.7;
          }

          &.active {
            background-color: #624E2C;
            opacity: .7;

            a, a:hover {
              color: #EEBE6B
            }
          }

          a {
          color: black;
          width: 100%;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    /* Mobile to Ipad Styles
    =========================== */
    @media screen and (min-width: 480px) {
      h2 {
        font-size: 2em;
        padding-top: 3em;
      }
    }

    /* Ipad Styles to Desktop - Start 2 column
    ============================================= */
    @media screen and (#{$IpadBreakpoint}) {
      h2 {
        margin-left: 8.28125%;
        text-align: left;
        font-size: 2.4em;
        padding-top: 3em;
      }

      .info-box {
        width: 93.125%;
        margin: 0 auto;
        padding-top: 7.92864222%;

        ul.tab-selection {
          width: 38.338926174%;
          float: right;
          position: relative;
          min-height: 20em;

          li {
            text-align: center;
            height: 6em;
            width: 6em;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;

            &:first-child {
              -webkit-animation: first 4s;
              animation: first 4s;
              background : radial-gradient(50% 50%, circle farthest-corner, rgba(98, 78, 44, 1) 0%,
                                                                            rgba(98, 78, 44, 0.66) 85.3%,
                                                                            rgba(98, 78, 44, 0.6) 100%);
              background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(98, 78, 44, 1) 0%,
                                                                                    rgba(98, 78, 44, 0.66) 85.3%,
                                                                                    rgba(98, 78, 44, 0.6) 100%);
              top: 0;
              right: 50%;
              margin-right: -50px;
              a {
                width: 4em;
                padding: 2em 1em
              }
            }

            &:not(:first-child){
              bottom: 1.5em;
            }


            &:nth-child(2) {
              background: radial-gradient(50% 50%, circle farthest-corner, rgba(121, 85, 48, 1) 0%,
                                                                           rgba(121, 85, 48, 0.66) 85.3%,
                                                                           rgba(121, 85, 48, 0.6) 100%);
              background: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(121, 85, 48, 1) 0%,
                                                                                   rgba(121, 85, 48, 0.66) 85.3%,
                                                                                   rgba(121, 85, 48, 0.6) 100%);
              filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
            }

            &:last-child {
              background : radial-gradient(50% 50%, circle farthest-corner, rgba(111, 68, 44, 1) 0%,
                                                                            rgba(111, 68, 44, 0.66) 85.3%,
                                                                            rgba(111, 68, 44, 0.6) 100%);
              background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(111, 68, 44, 1) 0%,
                                                                                    rgba(111, 68, 44, 0.66) 85.3%,
                                                                                    rgba(111, 68, 44, 0.6) 100%);
              filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
              right: 0;

              a {
                left: 3px;
                padding: 2em 1em;
              }
            }

            a {
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              font-family: 'Lora', serif;
              color: #AE843D;
              text-shadow: 0 -1px 0 black;
              padding: 1.5em 1em;

              &:hover {
                color: #3D6F51;
              }
            }
          }
        }


        .tab-content {
          width: 59.395973154%;
          background-color: rgba(123,112,92,.7);
          min-height: 20em;
          display: inline-block;
          float: left;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;

          h3 {
            margin-left: 3.107344632%;
            margin-top: 1em;
            font-size: 2em;
          }

          p {
            margin-left: 8.4745762715%;
            max-width: 23em;
            margin-top: 2em;
            font-size: 1.2em;
          }

          .tab-text li {
            margin-left: 8.4745762715%;
            max-width: 23em;
            font-size: 1.2em;
          }

          li:last-child {
            padding-bottom: 1em;
          }
        }
      }
    }

    /* Ipad LG to Desktop Styles
    =============================== */
    @media screen and (min-width: 992px) {
      h2 {
        font-size: 3em;
        padding-top: 7.433102081%;
      }
      .info-box {
        ul.tab-selection {
          min-height: 25em;
          margin-top: -2em;

          li {
            height: 7em;
            width: 7em;

            &:nth-child(2) a {
              padding: 1.5em 1em;
            }

            &:last-child a {
              padding: 2.2em 1em;

            }

            a {
              padding: 2em 1em;
              font-size: 1.2em;
            }
          }
        }
      }
    }

    /* Desktop Med Styles
    ======================== */
    @media only screen and (min-width: 1023px) {
      .info-box {
        ul.tab-selection {
          min-height: 25em;
          margin-top: -2em;

          li {
            height: 8em;
            width: 8em;

            &:first-child a {
              padding: 2.1em 1.2em;
            }

            a {
              font-size: 1.3em;
            }
          }
        }
      }
    }

    /* Desktop larger Styles
    =========================== */
    @media only screen and (min-width: 1280px) {
      h2 {
        padding-top: 5.433102%;
      }
    }

    /* LG > Styles
    ================= */
    @media screen and (min-width: 1458px) {
      h2 {
        font-size: 3.2em;
        padding-top: 6%;
      }

      .info-box {
        padding-top: 6.154747948%;

          ul.tab-selection {
            min-height: 30em;
            margin-top: -3em;
          }

          .tab-content {
            min-height: 23em;
          }
      }
    }

     /* Desktop larger Styles
    =========================== */
    @media only screen and (min-width: 1700px) {
      .info-box {
        ul.tab-selection {
          min-height: 35em;
          margin-top: -5em;
        }
      }
    }
  }

  &#about {
    width: 100%;

    aside {

      width: 50%;
      padding: 1.5em;
      margin: 0 auto;

      img {
        width: 100%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
      }
    }

    article {
      line-height: 1.5em;

      ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 25%;
      }

      p {
        margin: 0 auto;
        max-width: 600px;
        padding: 0 .5em;
        text-align: center;
      }

      p:last-of-type {
        margin-bottom: 1.5em;
      }

      p:nth-child(1) {
        margin-top: .5em;
      }
    }

    /* Two Column Layout Start
    ============================= */
    @media screen and (min-width: 921px) {
      display: table;

      aside {
        width: 45%;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        padding-left: 1em;

        img {
          margin-left: 15%;
          max-width: 450px;
        }
      }

      article {
        width: 50%;
        display: table-cell;
        vertical-align: middle;

        .inner-wrapper{
          margin-left: 5em;
          max-width: 500px;

          p {
            padding: .5em 0;
            font-size: .8em;
          }

          ul {
            margin-left: 15%;

            li {
              font-size: .8em;
            }
          }
        }
      }
    }

    /* <-------------  Small Fixes Start
    ======================================= */
    @media screen and (#{$DesktopBreakpoint}) {
      aside img {
        width: 80%;
      }

      article .inner-wrapper {
        p, li{
          font-size: .9em;
        }
      }
    }

    @media screen and (min-width: 1205px){
      aside img {
        margin-left: 25%;
        width: 70%;
      }
    }

    @media screen and (min-width: 1515px){
      aside img {
        margin-left: 36%;
      }

      article .inner-wrapper {
        p, li{
          font-size: 1.1em;
        }
      }
    }

    @media screen and (min-width: 1100px) and (max-height: 756px) {
      aside img {
        width: 60%;
      }
    }
    /* Small Fixes End ------------------->
    ========================================== */
  }

  &#tos, &#privacy {
    line-height: 1.5em;

    h2 {
      padding: 1em 0 1.2em;
      font-size: 2.5em;
      text-align: center;
    }

    h3:not(:first-child) {
      padding: 1.2em 1em 1.3em;
    }

    p, ul, ol, li {
      padding-left: 6.93742757%;

      @media screen and (#{$DesktopBreakpoint}) {
        padding-left: 3.5%;
      }

      @media screen and (min-width: 1700px) {
        padding-left: 2.5%;
      }
    }

    ol {
      list-style-type: armenian;
      list-style-position: inside;
    }

    ul {
      list-style-type: georgian;
      list-style-position: inside;
    }

    address {
      padding: 1em 0;
      text-align: center;
    }

    p:last-of-type {
      padding-bottom: 1em;
    }

    @media (max-width: 790px) {
      h2 {
        padding: .8em 0 1.2em;
        line-height: 1em;
      }
    }
  }

  &#contact {

    #contact-box {
      text-align: center;
      margin: 0 auto;
      width: 66%;

      .alert {
        padding-left: 10em;

        .inner {
          max-width: 1000px;
        }
      }

      label {
        display: block;
        width: 100%;
        margin-bottom: .3em;
        text-decoration: underline;
        font-weight: bold;
        font-family: 'Lora', serif;
        padding-top: .3em;

        &:not(:first-of-type) {
          margin-top: .5em;
        }
      }

      input {
        border: 1px solid #999;
        height: 25px;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 65%;
        font-family: 'Lora', serif;
        text-align: center;
      }

      #send-button {
        width: 75%;
        margin-top: .5em;
        font-family: 'Lora', serif;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          margin-top: 13px;
          background: #3D6F51;
          background: -webkit-linear-gradient(top, #45884e 0%, #55aa61 50%, #ffffff 300%);
          background: linear-gradient(to bottom, #45884e 0%, #55aa61 50%, #ffffff 300%);
        }
      }
    }

    #socialmedia-images {
      display: flex;
      flex-flow: row wrap;
      padding: 0 1em;
      justify-content: space-around;
      padding-top: 2em;

      div {
        text-align: center;
        width: 50%;
        margin-bottom: 1em;

        a {
          img {
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }

          &:hover img{
            -webkit-filter: blur(3px) brightness(70%);
            filter: blur(3px) brightness(70%);
          }
        }
      }
    }

    @media screen and (max-width: 766px) {
      #socialmedia-images {

        div {
          img {
            max-width: 125px;
          }
        }
        #facebook {
          img {
            max-height: 125px;
          }
        }
      }

      #contact-box {
        width: 72%;

        button#send-button:hover {
          margin-bottom: -3px;
        }
      }
    }

    @media screen and (min-width: 767px) and (max-width: 1200px) {
      #contact-box {
        width: 50%;
      }
    }

    @media screen and (#{$IpadBreakpoint}) {

      #contact-box {
        float: left;
        margin-top: 13.559838274%;
        margin-left: 6.984866123%;
        // -webkit-border-radius: 10%;
        // -moz-border-radius: 10%;
        // border-radius: 10%;
        width: 30%;

        // background-image: url("https://s3-us-west-2.amazonaws.com/mikaimages/noise.png"),
        //                   linear-gradient(to bottom, rgba(0,0,0,0) 10%,
        //                                              rgba(255,255,255,.05) 60%,
        //                                              rgba(255,255,255,.1) 80%,
        //                                              rgba(255,255,255,.2) 98%);
        // background-image: url("https://s3-us-west-2.amazonaws.com/mikaimages/noise.png"),
        //                   -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 10%,
        //                                                      rgba(255,255,255,.05) 60%,
        //                                                      rgba(255,255,255,.1) 80%,
        //                                                      rgba(255,255,255,.2) 98%);
      }

      #socialmedia-images {

        padding-top: 18.559838274%;

        div {
          margin-top: 2em;

          img {
            width: 60%;
            max-width: 156px;
          }
        }
      }
    }

    @media screen and (min-width: 1500px) {
      #socialmedia-images {
        img {
          width: 25%;
        }
      }
    }

    @media screen and (min-width: 1236px) and (max-height: 749px) {
      #contact-box {
        margin-top: 0;
      }
    }

    @media screen and (min-width: 1336px) and (min-height: 750px) {
      #contact-box {
        margin-top: 5.859838274%;

        input:after { content: '';height: 100px;width: 100px; background: #f3f;}
      }

      #socialmedia-images {
        padding-top: 8.859838274%;
      }
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}