/* Global Project Styles
========================== */
.projects {
  &#home {
    #section-container {
      padding-top: 1.5em;
      &.no-items {
        display: table;
        height: 52em;
        margin: 0 auto;
      }

      .project-box {
        height: 20em;
        width: 70%;
        margin: 0 auto;
        margin-top: 1.5em;
        text-align: center;
        border: 2px solid #624E2C;
        border-radius: 15px;
        max-width: 330px;
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) -1%,
                                                 rgba(255,255,255,0.01) 4%,
                                                 rgba(255,255,255,0.15) 49%,
                                                 rgba(255,255,255,0.2) 77%,
                                                 rgba(255,255,255,0.25) 100%);
        background: linear-gradient(top, rgba(255,255,255,0) -1%,
                                         rgba(255,255,255,0.01) 4%,
                                         rgba(255,255,255,0.15) 49%,
                                         rgba(255,255,255,0.2) 77%,
                                         rgba(255,255,255,0.3) 100%);

        &:not(:first-of-type) {
          margin-top: 1.5em;
        }

        .project-name {
          padding: 1.5em;
          font-family: 'Tienne', serif;
        }

        .project-description {
          text-overflow: auto;
          height: 9em;
        }

        .project-year {
          margin: 1em;
          font-family: 'Lora', serif;
        }

        .project-link {
          font-size: .9em;
          color: #EEBE6B;
          font-family: 'Lora', serif;
        }
      }
    }

    @media screen and (max-width: 485px) {
      .project-box {
        margin-top: 1em;
      }
    }
    /* Mobile Exlusive Styles
    ============================ */
    @media screen and (max-width: 767px) {
      #section-container.no-items {
        height: 20em;
      }
    }
    /* Ipad to Desktop Styles
    ============================ */
    @media screen and (min-width: 768px) {
      #section-container {
        width: 76.822916666%;
        margin-left: 23.177083333%;

        &.no-items {
          height: 40em;
        }

        &:not(.no-items) {
          .project-box {
            width: 35%;
            max-width: 367px;
            display: inline-block;
            padding: 0;


            &:nth-of-type(2n+2) {
              margin-left: 2%;
            }

            &.single-item:nth-of-type(odd) {
              margin-left: 18.229166666%;
            }
          }
        }
      }
    }
  }


  /* Desktop to LG Styles
  ========================== */
  @media screen and (min-width: 992px) {

  }

  /* LG > Styles
  ================= */
  @media screen and (min-width: 1200px) {

  }
}
