/* Global Project Styles
========================== */
.projects {
  &#home {

    &:before {
      content: '';
      display: block;
      height: 1em;
    }

    #section-container {
      margin: 0 auto;
      width: 80%;

      &.no-items {
        margin: 0 auto;
        width: 68%;
        max-width: 600px;
        margin-top: 12.466124661%;
      }

      .project-box {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #624E2C;
        border-radius: 15px;
        height: 20em;
        margin-bottom: 1em;
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) -1%,
                                                 rgba(255,255,255,0.01) 4%,
                                                 rgba(255,255,255,0.15) 49%,
                                                 rgba(255,255,255,0.2) 77%,
                                                 rgba(255,255,255,0.25) 100%);
        background: linear-gradient(top, rgba(255,255,255,0) -1%,
                                         rgba(255,255,255,0.01) 4%,
                                         rgba(255,255,255,0.15) 49%,
                                         rgba(255,255,255,0.2) 77%,
                                         rgba(255,255,255,0.3) 100%);

        .project-name {
          margin-top: 1em;
          font-family: 'Tienne', serif;
        }

        .project-description {
          margin-top: 1em;
          height: 11em;
          text-overflow: auto;
          p {
            max-width: 240px;
            margin: 0 auto;
          }
        }

        .project-year {
          margin-top: 1em;
          margin-bottom: 1em;
          font-family: 'Lora', serif;
        }

        .project-link {
          font-size: .9em;
          color: #EEBE6B;
          font-family: 'Lora', serif;
        }
      }
    }
    /* Mobile Small Breakpoint
    ============================= */
    @media screen and (min-width: 415px) {
      #section-container {
        &.no-items {

        }

        .project-box {
          width: 65%;
        }
      }
    }
    /* Ipad to Desktop Styles
    ============================ */
    @media screen and (min-width: 767px) {
      #section-container {

        &.no-items {
        }

        &:not(.no-items) {
          .project-box {
            width: 45%;
            display: inline-block;

            &:nth-of-type(2n+2) {
              margin-left: 7.960199004%;
            }

            &.single-item:nth-of-type(odd) {
              margin-left: 27.624309392%;
            }
          }
        }
      }
    }

        /* Desktop to LG Styles
    ========================== */
    @media screen and (min-width: 992px) {
      #section-container {
        width: 60%;
      }
    }

    /* LG > Styles
    ================= */
    @media screen and (min-width: 1600px) {
      #section-container {
        width: 45%;
      }
    }
  }
}
