/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu|Tienne);

/* Basic Defaults
===================== */
html, body { height: 100%; }

body {
  /* Text Defaults
  =================== */
  p, a, li {
    font-family: "Ubuntu", sans-serif;
  }

  h1, h2 {
    font-family: "Tienne", serif;
    margin: 0 0;
  }

  h3,
  h4, h5 {
    font-family: "Lora", serif;
  }

  /* Link Defaults
  =================== */
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a.current {

  }
  .wrapper {
    margin: 0 auto -16px;

    section {
      padding-bottom: 20px;
      background: url('https://s3-us-west-2.amazonaws.com/mikaimages/noise.png'),
                        #896949;
    }
  }
}

/* Import Other CSS
====================== */

@import 'header';
@import 'pages';
@import 'projects';
@import 'footer';
@import 'bootstrap.min';