/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
$IpadBreakpoint: 'min-width: 768px';
$DesktopBreakpoint: 'min-width: 946px';
@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu|Tienne);

/* Basic Defaults
===================== */
html, body { height: 100%; }

body {
  /* Text Defaults
  =================== */
  p, a, li {
    font-family: "Ubuntu", sans-serif;
  }

  h1, h2 {
    font-family: "Tienne", serif;
    margin: 0 0;
  }

  h3,
  h4, h5 {
    font-family: "Lora", serif;
  }

  /* Link Defaults
  =================== */
  a {
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  a:hover {
    text-decoration: none;
  }

  a.current {

  }
  .wrapper {
    margin: 0 auto -16px;

    section {
      padding-bottom: 20px;
      // Basehold - add before background  --  url(http://basehold.it/i/24),
      background:  url('https://s3-us-west-2.amazonaws.com/mikaimages/noise.png'),
                        #896949;
    }

    .alert {

      .inner {
        padding: 1.5em;
        border: 2px solid rgba(255, 20, 20, 0.6);
        border-radius: 15px;
        background: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70%, rgba(255,255,255,.3) 90%),
                    rgba(255, 97, 97, 0.3);
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                    rgba(255, 97, 97, 0.3);

        a {
          color: #EEBE6B;
          &:hover {
            color: rgba(255, 20, 20, 1);
          }
        }
      }
    }

    #error-explination {
      border: 2px solid rgba(240, 0, 0, 0.6);
      border-radius: 15px;
      background: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                  rgba(255, 102, 102, 0.4);
      background: linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                  rgba(255, 102, 102, 0.4);
    }

    .darkgreen-button {
      width: 75%;
      height: 1.5em;
      background: #45884e;
      background-image: -webkit-linear-gradient(top, #45884e 0%, #55aa61 50%, #ffffff 300%);
      background-image: linear-gradient(to bottom, #45884e 0%, #55aa61 50%, #ffffff 300%);
      border-radius: 10px;
      border: 0;
      cursor: pointer;
      color: #EEBE6B;
      font-family: 'Lora';
      font-size: 1.2em;
      text-shadow: 0 -1px 0 black;
      box-shadow: 0px 3px 0 #235029, 0 5px 0px #235029, 0px 10px 25px rgba(0, 0, 0, 0.7);

      &:hover {
        box-shadow: inset 0 1px 10px 1px #55aa61, 0 1px 0 #55aa61, 0 2px 0 #1C2D4D, 0px 3px 6px rgba(0,0,0,.9);
        background: #3D6F51;
        background: -webkit-linear-gradient(to bottom, #376d3d 0%, #43844a 50%, #ffffff 300%);
        background: linear-gradient(to bottom,  #376d3d 0%, #43844a 50%, #ffffff 300%);
        margin-top: 5px;

      }

      a {
        padding: .2em 0;
        text-shadow: 0 -1px 0 black;
      }
    }

    .disable-link {
      pointer-events: none;
      cursor: default;
      color: #6F6F6F;
    }
  }
}

/* Import Other CSS
====================== */

@import 'header';
@import 'pages';
@import 'projects';
@import 'footer';
@import 'bootstrap.min';