/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu|Tienne);

/* Basic Defaults
===================== */
html, body { height: 100%; }

body {
  /* Text Defaults
  =================== */
  p, a, li {
    font-family: "Ubuntu", sans-serif;
  }

  h1, h2 {
    font-family: "Tienne", serif;
    margin: 0 0;
  }

  h3,
  h4, h5 {
    font-family: "Lora", serif;
  }

  /* Link Defaults
  =================== */
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a.current {

  }
  .wrapper {
    margin: 0 auto -16px;

    section {
      padding-bottom: 20px;
      // Basehold - add before background  --  url(http://basehold.it/i/24),
      background:  url('https://s3-us-west-2.amazonaws.com/mikaimages/noise.png'),
                        #896949;
    }

    .alert {
      display: table-cell;
      vertical-align: middle;

      .inner {
        padding: 1.5em;
        border: 2px solid rgba(255, 20, 20, 0.6);
        border-radius: 15px;
        max-width:  600px;
        background: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70%, rgba(255,255,255,.3) 90%),
                    rgba(255, 97, 97, 0.3);
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                    rgba(255, 97, 97, 0.3);

        a {
          color: #EEBE6B;
          &:hover {
            color: rgba(255, 20, 20, 1);
          }
        }
      }
    }

    #error-explination {
      border: 2px solid rgba(240, 0, 0, 0.6);
      border-radius: 15px;
      background: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                  rgba(255, 102, 102, 0.4);
      background: linear-gradient(to bottom, rgba(255,255,255, 0) 10%, rgba(255,255,255,.2) 70% , rgba(255,255,255,.3) 90%),
                  rgba(255, 102, 102, 0.4);
    }

    button.darkgreen-button {
      width: 75%;
      height: 2.5em;
      background: #45884E;
      border-radius: 10px;
      border: 0;
      cursor: pointer;

      &:hover {
        background: #3D6F51;
      }
    }
  }
}

/* Import Other CSS
====================== */

@import 'header';
@import 'pages';
@import 'projects';
@import 'footer';
@import 'bootstrap.min';