- if object.errors.any?
  #error_explination
    The form contains #{pluralize(object.errors.count, "error")}
    %ul
      - object.errors.full_messages.each do |msg|
        %li *  #{msg}
- if flash.any?
  - flash.each do |name, msg|
    .flash{:class => 'flash-name'}
      = msg