/[if lt IE 9]
    %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript")

%meta{ :name => "description", :content => "Mika Kalathil a young computer programmer that is excited about learning more in the area of web development and software engineering. He is capable of programming in a multitude of languages such as C#, C++, Ruby, Java and of course HTML and CSS. He is also interested in philosophy, agriculture, veganism and loves animals." }
%meta{ :rel => "author", :href => 'https://plus.google.com/u/0/101662310373136763168' }
%meta{ :name => "robots", :content => "index, follow" }
%meta{ :property => 'fb:admins', :content => "650330702" }
%link{ :href => "http://mikakalathil.com/", :rel => "canonical" }
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon-196x196.png", rel: "icon", sizes: "196x196", type: "image/png"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
%link{href: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
%meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
%meta{content: "#603cba", name: "msapplication-TileColor"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-70x70.png", name: "msapplication-square70x70logo"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-144x144.png", name: "msapplication-square144x144logo"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-150x150.png", name: "msapplication-square150x150logo"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-310x310.png", name: "msapplication-square310x310logo"}
%meta{content: "https://s3-us-west-2.amazonaws.com/mikaimages/logo/mstile-310x150.png", name: "msapplication-wide310x150logo"}
%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

