/[if lt IE 9]
    %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript")

%meta{ :name => "description", :content => "Mika Kalathil a young computer programmer that is excited about learning more in the area of web development and software engineering. He is also interested in philosophy, agriculture, veganism and loves animals." }
%meta{ :rel => "author", :href => 'https://plus.google.com/u/0/101662310373136763168' }
%meta{ :name => "robots", :content => "index, follow" }
%meta{ :property => 'og:type', :content => 'website' }
%meta{ :property => 'og:title', :content => "Mika Kalathil's Personal Webpage" }
%meta{ :property => 'og:description', :content => "Mika Kalathil's personal website, containing info about projects and contact info." }
%meta{ :property => 'fb:admins', :content => "650330702" }
%link{ :href => "http://mikakalathil.com/", :rel => "canonical" }
%meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

